#container .tab{
	float: left;
	padding: 10px;
	margin:2px;
	background: #ccc;
	width:50%;
	position:relative
}
#container .content{
	position:absolute
	z-index: 0;
	top: 50px;
	left:0px;
	width: 50%;
	height: 100px;
	background: white;
	display:none

}
#container .active .tab{
	background: orange;
	display:inline-block
}
#container .active .content{
	z-index: 1;
	display:block
}