*{
	margin: 0;
	padding:0;
}
@font-face{
	src:url("font/Lato-Light.ttf");
}
*{
	font-family: latoLight;
}
.header{
	background-color:transparent !important;
	border-bottom: 1px solid grey;
}
.logo {
	padding-top: 6px;
}
.logo span {
	color: #ea5231;
}
.menu{
	margin-right:0 auto;
}
.menu li {
	padding-left: 30px;
	padding-top: 10px;
}
.menu-header:hover{
	color: #FF0000 !important
}
/*start txt*/
.txt{
	text-align: center;
	padding: 30px 0;
}
.txtContent{
	margin: 0 auto
}
/*map*/
.map{
	width: 100%;
	height: 400px;
	margin-bottom: 30px
}
/*local*/
.icon-local{
 	font-size: 35px;
 	color: #ea5231;
 	padding-right: 15px
}
/*submit*/
.submit{
	margin: 30px 0;
}
.submit input{
	width: 100%
}
.note{
	height: 200px;
}
.color{
	color: red;
}
/*contact*/
.contact{
	background-color: #292929;
	color: white;
	padding-top: 20px
}
.contact h4{
	padding:30px 0;
}
.line{
	margin-bottom: 30px
}
.line p{
	border-bottom: 1px solid white;
	padding-bottom: 20px
}
.iconFooter{
	float: left;
    list-style: none;
    width: 30px;
    height: 30px;
    background: black;
    margin-right: 10px;
    border-radius: 100%;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 30px	
}
/*footer*/
.footer{
	background-color: black;
	color: white;
	padding-top:20px;
	font-size: 14px
}
.footer li{
	list-style: none;
	display: inline;
	padding-right: 15px 
}
.footer li:nth-child(5){
	padding-right: 0 !important
}