*{
	margin: 0;
	padding:0;
}
@font-face{
	src:url("font/Lato-Light.ttf");
	font-family: latoLight;
}
.header{
	font-family: lataLight;
}
.header-left{
	margin-left:50px;
	color: #8dbd86;
}

.headr-right{
	margin-top:-10px;
}
.header span{
	display: inline;
	list-style: none;
	padding-right: 15px;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-top: 5px
}

.header span:nth-child(5){
	border-right: 0 !important;
}
.header span:nth-child(6){
	border-right: 0 !important;
	background: #459368cc;
	border-radius: 20px;
    margin-left: 10px;
    padding: 4px 14px;
}
.bars{
	margin-left: 80px
}
@media(max-width: 992px) {
	.header-left{
		margin:0px;	
	}
	.header span{
		padding-right: 5px;
		padding-left: 2px;
		font-size: 14px
	}
	
}
@media(max-width: 655px){
	.header-left{
		margin: 0px
	}
	.header span{
		border: 1px solid black;	
	}
	.header span:nth-child(5),.header span:nth-child(6){
		display: none;
	}
}
/*start info-produce*/
.text{
	text-align: center;
	margin: 30px 0;
}
.text p{
	width: 70%;
	margin: 0 auto
}

.slide-img{
	display: inline;
}
.slide-img img{
	width: 23%;
}
.prevv{
	color: black !important;
	font-size: 50px
}
.info{
	margin: 0 auto;
	margin-bottom: 30px;
}
/*footer*/
.le{
	margin: 0 auto;
	margin-top: 30px;
}
.footer-icon li{
	float:left;
	list-style: none;
	padding-right: 20px;
	margin: 0 auto;
	font-size: 20px;
	padding-bottom: 20px
}
.text-white{
	margin-bottom: 30px;
}
/*bai2*/
.rg { 
  background: url('../img/8.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:650px
}
.form{
	margin-top: 2%;
	margin-left: 10%;
	border: 1px solid black;
	color: black;
	background: white;
	width:350px;

}
.form h2 {
    background: #008000d9;
    text-align: center;
    height: 50px;
    line-height: 50px;
    clear: both
}

.form h3 {
    background: #808080b8;
    text-align: center;
    clear: both
}
.size70{
	width: 75%
}
.size30{
	width: 25%
}
.don{
	width: 100%;
	margin-bottom: 10px
}
.number1,.number2,.number3,.number4{
	width:40px;
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 2px
}
.tru1,.tru2,.tru3,.tru4{
	display: none;
}