*{
	margin: 0;
	padding:0;
}
@font-face{
	src:url("font/Lato-Light.ttf");
	font-family: latoLight;
}
.rg { 
  background: url('../img/8.jpg') no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1000px
}
.form{
	margin:2% auto;
	border: 1px solid black;
	color: black;
	background: white;
	width:400px;
}
.form h2 {
    background: #008000d9;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.form h3 {
    background: #808080b8;
    padding-left: 20px
 }
.size70{
	width: 80%
}
.size30{
	width: 20%
}

.number1,.number2,.number3,.number4{
	width:40px;
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 2px
}
.le{
	margin: 0 auto;
	margin-top: 30px;
}
.footer-icon li{
	float:left;
	list-style: none;
	padding-right: 20px;
	margin: 0 auto;
	font-size: 20px;
	padding-bottom: 20px
}
.text-white{
	margin-bottom: 30px;
}
.size50{
	width: 50%
}
.tru1,.tru2,.tru3,.tru4{
	display: none;
}